<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoyo.blhr.dao.impl.LoginDao">
    
    <resultMap type="com.yoyo.blhr.dao.model.CourseTitleVo" id="courseTitleVoMap">
        <result column="course_id" property="courseId" jdbcType="VARCHAR" />
        <result column="course_name" property="courseName" jdbcType="VARCHAR" />
        <result column="username" property="teacher" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="profile" property="teacherProfile" jdbcType="VARCHAR" />
    </resultMap>
    
      <resultMap id="venderCarrierRelationMap" type="com.yoyo.blhr.dao.model.VenderCarrierRelation">
        <result column="vender_id" property="venderId" jdbcType="INTEGER"/>
        <result column="carrier_id" property="carrierId" jdbcType="INTEGER"/>
        <result column="carrier_name" property="carrierName" jdbcType="VARCHAR"/>
        <result column="carrier_type" property="carrierType" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="cod_flag" property="codFlag" jdbcType="INTEGER"/>
        <result column="print_flag" property="printFlag" jdbcType="INTEGER"/>
        <result column="agree_flag" property="agreeFlag" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="pin" property="pin" jdbcType="VARCHAR"/>
        <result column="use_flag" property="useFlag" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="INTEGER"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="jd_account" property="jdAccount" jdbcType="INTEGER"/>
        <result column="yn" property="yn" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="syn_time" property="synTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <resultMap id="userInfoResultMap" type="com.yoyo.blhr.dao.model.User">
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="wechatname" property="wechatname" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="lrrq" property="lrrq" jdbcType="DATE" />
        <result column="xgrq" property="xgrq" jdbcType="DATE" />
        <result column="yxbj" property="yxbj" jdbcType="VARCHAR" />
    </resultMap>
    
    
    <resultMap id="CourseVo" type="com.yoyo.blhr.dao.model.CourseVo">
       <result column="course_id" property="course_id" jdbcType="VARCHAR" />
        <result column="course_name" property="course_name" jdbcType="VARCHAR" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" />
        <result column="teacher_id" property="teacher_id" jdbcType="VARCHAR" />
        <result column="couser_profile" property="couser_profile" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="pay_type" property="pay_type" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="profile" property="profile" jdbcType="VARCHAR" />
        <result column="jobName" property="jobName" jdbcType="DATE" />
        <result column="fullname" property="fullname" jdbcType="DATE" />
        <result column="teacherId" property="teacherId" jdbcType="VARCHAR" />
    </resultMap>
    
         
	<resultMap type="java.util.Map" id="userStatResultMap">
		<result column="count(user_id)" property="count" jdbcType="VARCHAR"></result>
		<result column="lrrq" property="lrrq" jdbcType="DATE"></result>
	</resultMap>
    <sql id="user_colum_list">
        user_id,username,password,wechatname
    </sql>
    
    <sql id = "user_manage_list">
    	user_id, username, wechatname, lrrq
    </sql>



<!--     <select id="queryUserInfoByCondition" resultMap="courseTitleVoMap" parameterType="java.util.Map">
        select
        <include refid="user_colum_list" />
        from users t
        where t.username = #{username,jdbcType=VARCHAR} and t.password=#{password,jdbcType=VARCHAR}
    </select> -->

  <!--   <select id="queryUserMap" resultMap="courseTitleVoMap" parameterType="java.lang.String">
        select * from users t where t.username=#{username,jdbcType=VARCHAR}
    </select> -->
    
    <select id="queryCourseList"  resultMap="courseTitleVoMap" >
        select t.course_id ,t.course_name,f.username,n.photo,f.profile from course t,teachers f ,users n
              where t.user_id = f.user_id and f.user_id = n.user_id order by t.lrrq desc
    </select>
    
    

    <select id="queryUserInfoByCondition" resultMap="userInfoResultMap" parameterType="java.util.Map">
        select
        <include refid="user_colum_list" />
        from users t
        where t.username = #{username,jdbcType=VARCHAR} and t.password=#{password,jdbcType=VARCHAR}
    </select>

    <select id="queryUserMap" resultMap="userInfoResultMap" parameterType="java.lang.String">
        select * from users t where t.username=#{username,jdbcType=VARCHAR}
    </select>

	<select id = "queryAllUsers" resultMap="userInfoResultMap">
	 	select * from users  where yxbj = 'Y' 
	</select>
	
	<select id = "dataSta" resultMap="userStatResultMap" parameterType="java.lang.String">
		select count(user_id), lrrq from users where lrrq >=#{date,jdbcType=VARCHAR} GROUP BY convert(lrrq,Date) ORDER BY lrrq DESC
	</select>
	
    <select id = "totalBefore7days" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(user_id) from users where lrrq &lt; #{date,jdbcType=VARCHAR}
	</select>
	
	<select id="queryCourseListAndNum" resultType="java.util.Map">
	   select h.*,k.photo,n.`profile`,n.job_name as jobName,n.fullname,n.user_id as teacherId from teachers n,users k ,( select t.*,count(f.course_id) as num from course t LEFT JOIN learn_records f  
	      on t.course_id = f.course_id where t.course_state = '3' or t.course_state ='8' and t.yxbj = 'Y' GROUP BY course_id) h where n.user_id = k.user_id and 
	      k.user_id = h.user_id order by h.lrrq desc
	</select>
	
	    <insert id="insertRelation" parameterType="com.yoyo.blhr.dao.model.VenderCarrierRelation">
        insert into pop_vender_carrier_relation(vender_id,carrier_id,carrier_name,is_default,sort,cod_flag,print_flag,comment,yn,create_time,update_time,syn_time) VALUES
        (#{venderId},#{carrierId},#{carrierName},#{isDefault},#{sort},#{codFlag},#{printFlag},#{comment},#{yn},#{createTime},#{updateTime},NOW())
    </insert>

</mapper>